<%= render "books/header" %>
<h1>Top</h1>
<p>Find me in app/views/books/index.html.erb</p>
<a href ="/">Home</a>
<a href="home/about">about</a>
<a href="/users/sign_up">サインアップ</a>
<a href="/users/sign_in">サインイン</a><br>
==============================<br>
<a href="/users/sign_in">サインイン</a>
<a href="/users/sign_up">サインアップ</a>
<%= link_to 'logout', destroy_user_session_path, method: :delete %>