<% if user_signed_in? %>
	<%= render 'afheader' %>
<% else %>
	<%= render "header" %>
<% end %>
<main>
	<div class="container">
		<p id="notice"></p>
		<h1>Welcome to
			<span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>!
		</h1>
	</div>
</main>


<%= render "books/footer" %>